.header {
  /* background-color: #4caf50; */
  background-color: #0a0f2c;
  color: white;
  padding: 0.5rem 0;
}

.header .logo h1 {
  color: white;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav .nav-links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav .nav-links li {
  margin-left: 20px;
}

.nav .nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav .nav-links a:hover {
  text-decoration: underline;
}

.hero {
  /* background-color: #4caf50; */
  background: linear-gradient(120deg, #89f7fe, #66a6ff);

  color: white;
  padding: 80px 20px;
  text-align: center;
  flex: 1;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-btn {
  background-color: #0a0f2c;
  color: #ffffff;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
}

.cta-btn:hover {
  background-color: #3b4cca;
  cursor: pointer;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
  background-color: #ffffff;
  flex: 1;
}
@media (max-width: 768px) {
  .features {
    flex-direction: column;
  }
}

.feature {
  text-align: center;
  /* width: 30%; */
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.feature p {
  font-size: 16px;
  color: #777;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer p {
  font-size: 14px;
}
