.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.header button {
  padding: 0.75rem 1rem;
  background: #66a6ff;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;

  .button:hover {
    background: #4d91f5;
  }
}
